
.row{
    margin-inline:20%;
}
.card-columns {
    column-count: 3;
}

.card{
    width: 20rem;
}
img {
    display: block;
    width: 297px;
    height: 180px;
}
a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration: none;
}

.image-txt-container{
    display: flex;

}

.image-item{
    padding: 0px;
}

